/*Style for structural elements*/
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

/*Style for sections*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section .big_title_section{
    font-weight: normal;
    font-size: 50px;
    color: white;

}

section .cell_img {
    width: 61px;
    height: 109px
}

footer {
    font-size: 21px;
    float: right;
    color: grey;
}